.efreezetable-container {
  margin: auto;
  width: 100%;
}
.efreezetable-fixed {
  background-color: #fff;
  border: medium none;
  color: #000;
  display: none;
  position: fixed;
  top: 0;
  width: auto;
  z-index: 100;
}
